body{
    background-color: #f1ebeb;
    font-family: Candara, sans-serif;
    margin: 10px;
    padding: 10px;
    line-height: 1.6;
}

header{
    background-color: #bd3c2e;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin: 0;
}


h2{
    color: #141414;
    text-align: center;
}

h3{
    color: #474747;
    margin-top: 20px; 
}

p {
    color: #292929;
    text-align: justify;
    margin: 10px 20px;
    line-height: 1.8;
    margin-bottom: 20px;
}

header p {
    color: #ffffff;
    text-align: center;
}

nav{
    background-color: #c45b51;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li{
    display: inline;
    margin: 0 15px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    color: #586138;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
}

section{
    flex: 50%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    box-shadow: #ccc;
}

.museo{
    flex: 20%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    box-shadow: #ccc;
}

article {
    flex: 50%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    box-shadow: #ccc;
}

article .caja {
    flex: 0 0 48%; 
    display: flex;
    flex-direction: column;
    margin: 10px auto; 
    padding: 10px;
    width: auto; 
    box-shadow: #ccc;
}

aside{
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    box-shadow: #ccc;
    float: right;
}

footer{
    background-color: #bd3c2e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.img-historia {
    width: 40%;
    height: auto;
    float: left;
    margin-right: 30px;
}

.img-lugares{
    width: 90%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 20px auto;
}

.img-trad {
    width: 40%;
    height: auto;
    float: right;
    margin-left: 30px;
}

.img-museo{
    width: 90%;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 20px;
}

.boton {
    background-color: #c09993;
    color: #ffffff;
    border: 20px;
    padding: 5px 20px;
    cursor: pointer;
    text-align: center;
}

.caja-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}	

.img-arte {
    width: 30%;
    height: auto;
    float: right;
    margin-left: 40px;
    margin-right: 30px;
}

form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    box-shadow: #ccc;
}

form ul{
    list-style-type: none;
    padding: 0;
}

form ul li{
    margin: 10px 0;
}

form ul li label{
    display: block;
    margin-bottom: 5px;
}

form ul li input[type="text"],
form ul li input[type="email"],
form ul li textarea[id="msg"]{
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: #c09993;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
